h4 {
  margin: 0;
}
p {
  margin: 0;
}

.menu-item {
  margin: 1rem;
}
.button-menu {
  width: 100%;
  border: none;
  background-color: rgb(214, 214, 214);
  padding: 0 1rem;
}

.button-menu:hover {
  background-color: rgb(197, 197, 197);
}

.button-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-box {
  padding: 1rem;
}

.pass-fail-container {
  display: flex;
  flex-direction: row;
}

.info-box {
  border-radius: 5px;
  padding: 0 0.3rem;
}

.passes {
  background-color: rgba(0, 128, 0, 0.616);
  margin-left: 1rem;
}

.fails {
  background-color: rgba(255, 0, 0, 0.616);
  margin-left: 1rem;
}

.result-item div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-item p {
  text-align: left;
}

.loading-results {
  padding: 0.82rem;
}
